config.log
config.status
version*.txt
obj.dbg/
obj/
autom4te.cache/
.vscode/
.gdb_history
src/config.hpp
src/config.hpp.in~
src/revision.hpp
.libs/
aclocal.m4
libpdb-redo.la
data/
GNUmakefile
.gitignore
rsrc/bond-info.bin.gz
tools/make-bond-info
libtool
